 
@model ABC.HR.Domain.Entities.ValidateAllowanceConfig
@{
    ViewData["Title"] = "UpdateAllowanceCofiguration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/chosen_v1.8.7/chosen.css" rel="stylesheet" />

<style>
    .table td {
        white-space: break-spaces;
    }
</style>

<div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs" role="tablist">

        @*<li class="nav-item">
            <a class="nav-link " href="~/EmployeeTaxConfiguration/AddTaxConfiguration" aria-controls="overview" aria-selected="true">Add Tax Configuration</a>
        </li>*@

        <li class="nav-item">
            <a class="nav-link active" href="~/EmpAllowanceCofiguration/AddAllowanceCofiguration" aria-controls="overview" aria-selected="true">Add Allowance Configuration</a>
        </li>

    </ul>
</div>



<div class="card">
    <div class="card-body">
        <h1 class="card-title">Update Allownce Configuration</h1>

        <hr />
        <div class="row container">
            <div class="col-md-9">
                <form asp-action="UpdateAllowanceConfiguration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <select asp-for="EmployeeId"
                                    class="form-control SerchAllownceonfig"
                                    asp-items="@(new SelectList(ViewBag.EmployeeNo,"Value", "Text"))" id="MyEmployeeIdalowcon">
                                <option disabled selected>--- SELECT EMPLOYEE---</option>
                            </select>
                            @*<input asp-for="EmployeeId" class="form-control" />*@
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EmpAllowanceTypeId" class="control-label"></label>
                            <select asp-for="EmpAllowanceTypeId"
                                    class="form-control SerchAllownceonfig"
                                    asp-items="@(new SelectList(ViewBag.AllownceTypes,"Value", "Text"))">
                                <option disabled selected>--- SELECT ALLOWANCE TYPE---</option>

                            </select>
                            @*<input asp-for="AllowanceTypeId" class="form-control" />*@
                            <span asp-validation-for="EmpAllowanceTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" class="form-control" type="date" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6" style=" margin-top: 26px;">

                            <label asp-for="IsPerFix" class="control-label"></label>
                            <input asp-for="IsPerFix" type="checkbox" onchange="valueChangedAllow()" />

                            <span asp-validation-for="IsPerFix" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-6" id="typefixall">
                            <label asp-for="AllowanceTypeFix" class="control-label"></label>
                            <input asp-for="AllowanceTypeFix" class="form-control" type="number" placeholder="Fix Amount" />
                            <span asp-validation-for="AllowanceTypeFix" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6" style="display:none" id="typeperall">

                            <label asp-for="AllowanceTypePer" class="control-label"></label>
                            <input asp-for="AllowanceTypePer" class="form-control" type="number" placeholder="Percentage" />
                            <span asp-validation-for="AllowanceTypePer" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="IsApprove" class="control-label"></label>
                            @*<input asp-for="IsApprove" type="checkbox" checked />*@
                            @Html.CheckBox("IsApprove", true)
                            <span asp-validation-for="IsApprove" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <input type="submit" value="Create" class="btn btn-lg btn-dark me-3 wd-40" style="color:whitesmoke" />
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <h4>Employee Detail</h4>
                <hr />
                <table class="table cell-border compact stripe" style="font-size: 13px;">
                    <tr>
                        <th>Contract Name</th>
                        <td id="datacontrnam"></td>
                    </tr>
                    <tr>
                        <th>Joining Date</th>
                        <td id="datajoindate"></td>
                    </tr>
                    <tr>
                        <th>On Contract</th>
                        <td id="dataoncont"></td>
                    </tr>
                    <tr>
                        <th>Permanent</th>
                        <td id="dataperonc"></td>
                    </tr>
                    <tr>
                        <th>Rate Per Hours</th>
                        <td id="dataPerHour"></td>
                    </tr>
                    <tr>
                        <th>Probation</th>
                        <td id="dataprob"></td>
                    </tr>
                    <tr>
                        <th>Probation Date</th>
                        <td id="dataattend6"></td>
                    </tr>


                </table>

            </div>


        </div>

        <div>
            <a asp-action="ManageAllowanceConfiguration">Back to List</a>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

<script src="~/lib/chosen_v1.8.7/docsupport/jquery-1.12.4.min.js"></script>
<script src="~/lib/chosen_v1.8.7/chosen.jquery.js"></script>
<script>

    $(".SerchAllownceonfig").chosen();


    $(document).ready(function () {
        valueChangedAllow();

    });


    function valueChangedAllow() {
        
        if ($('#IsPerFix').is(":checked"))
        {
            $("#typeperall").css("display", "block");
            $('#AllowanceTypeFix').val("");
            $("#typefixall").css("display", "none");
            

        }
        else {
            $("#AllowanceTypePer").val("");
            $("#typeperall").css("display", "none");
            

            $("#typefixall").css("display", "block");
        }

    }




    $(document).on('change', '#MyEmployeeIdalowcon', function () {


        var empidsal = $("#MyEmployeeIdalowcon").val();


        $.ajax({
            type: "GET",
            url: "GetEmplyeeSalary",
            data: { "empidforsal": empidsal },
            dataType: "json",
            success: function (data) {
                console.log(data);
                var dailyWagesChargesAmountperhour = "";
                var checkisvage = data[0].dailyWages;
                var monthwage = parseInt(data[0].salary);
                var daywage = monthwage / 30;
                var dayworktime = parseInt(data[0].workingTimeOut) - parseInt(data[0].workingTimeIn);
                var hourlyperdaywage = daywage / dayworktime;
                debugger
                if (checkisvage == true) {
                    dailyWagesChargesAmountperhour = data[0].dailyWagesChargesAmount;
                }
                else {
                    dailyWagesChargesAmountperhour = hourlyperdaywage;
                }

                $("#dataPerHour").html(dailyWagesChargesAmountperhour);
                $("#datacontrnam").html(data[0].contractName);
                $("#datajoindate").html(data[0].joiningDate);
                $("#dataoncont").html(data[0].onContract);
                $("#dataperonc").html(data[0].permanent);
                $("#dataprob").html(data[0].isProbation);

                var strtend = data[0].probationSdate + "to" + data[0].probationEdate;
                $("#dataattend6").html(strtend);



                ////////////////////////

                //var daywage = monthwage / 30;

                //var dayworktime = (timeout - timein).TotalHours;

                //hourlyperdaywage = daywage / dayworktime;

            }, error: function (err) {

            }

        });

    });





</script>

