@{
    ViewData["Title"] = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<style>
    .blue{
        color:blue;
        font-weight:bold;
    }
    .input{
        height: 62px;
    background: rgb(183 185 191);
    font-weight: bold;
    }
    .red{
        color:blue;
       
    }
    .icon{
     font-weight: bold;
    color: #bb2014;
    }
</style>

<div class="w3-bar w3-white">
  <button class="w3-bar-item w3-button" style="border-right:1px solid black;" onclick="openreport('msa')">MSA Reporting</button>
  <button class="w3-bar-item w3-button" style="border-right:1px solid black;" onclick="openreport('state')">State Reporting</button>
</div>

<div id="msa" class="w3-container report" style="padding-top:20px; background:white;">
  <div class="row" style="margin:0px 20px;">
      <div class="col-md-3" style="align-content:center;">
          <h4 class="blue" style="margin-top:22px">Last MSA Report</h4>
      </div>
      <div class="col-md-3">
          <label class="blue">From:</label>
          <input type="date" class="form-control blue"  />
      </div>
      <div class="col-md-3">
          <label class="blue">To:</label>
          <input type="date" class="form-control blue" />
      </div>
      <div class="col-md-3">
          <label class="blue">Dist. Code:</label>
          <input type="text" class="form-control blue" />
      </div>
  </div>


  <div class="row" style="border: 2px solid gray; margin:20px; padding-bottom:10px;">
      <div class="col-md-6" style="align-content:center;">
          <div class="row" style="margin-top:25px;">
              <div class="col-md-4" style="margin-top:10px;">
                  <h3 class="" style="margin-top:22px; font-weight:bold;">Week Ending</h3>
                    <input class="input" id="datess" type="date" /> 
              </div>
              <div class="col-md-2" style="margin-left:-33px; padding-top: 66px;">
                  <i  class="fa fa-angle-down fa-2x" style="display: table-caption;background: rgb(244, 245, 247);padding: 0px 8px;border-right: 1px solid black; border-bottom: 1px solid black;"></i>
                  <i class="fa fa-angle-up fa-2x" style="background: rgb(244, 245, 247);padding:0px 8px;border-right: 1px solid black; border-bottom: 1px solid black;"></i>
              </div>
              <div class="col-md-3" style="margin-left:-30px; padding-left:0px; padding-top: 66px;">
                  <button class="" id="aa" style="background: rgb(244, 245, 247);padding: 3px 8px;border-right: 2px solid black; border-bottom: 1px solid black;">Next Week</button>
                  <button class="" style="background: rgb(244, 245, 247);padding: 3px 8px;border-right: 2px solid black; border-bottom: 1px solid black;">Prev. Week</button>
              </div>
          </div>

      </div>
      <div class="col-md-6">
          <div class="row"  style="justify-content:right; margin-top:10px;">
              <div class="col-md-4">
                  <p class="red" style=" margin-bottom: 0px;background:rgb(184, 185, 190); text-align:center; padding:5px; font-weight:bold;">State Tax Jurisdiction</p>
                  <div class="row" style="border:1px solid grey;">
                  <div class="col-md-12">
                      <input type="checkbox" style="border-left:1px solid grey; border-top:1px solid grey;" />
                      <label class="blue" style="margin-bottom:0px; font-size:13px;">Item Label (BID)</label>
                      <p style="margin-left:15px;">(208-209)</p>

                      <input type="checkbox" style="border-left:1px solid grey; border-top:1px solid grey;" />
                      <label class="blue" style="margin-bottom:0px; font-size:13px;">Customer Label (SID)</label>
                      <p style="margin-left:15px;">(197-198)</p>
                  </div>
              </div>
              </div>
              
          </div>
      </div>
  </div>

  <div class="row" style=" margin-right:20px; ">
      <div class="col-md-12" style="text-align:right;">
          <input type="checkbox" style="border-left:1px solid grey; border-top:1px solid grey;" />
          <label class="blue" style="margin-bottom:0px; color:red; font-size:13px;">Report Inventory Based Sales Only</label>
      </div>
  </div>

  <div class="row" style="border: 2px solid gray; margin:20px; ">
      <div class="col-md-6" style="padding-top: 25px; padding-left: 25px;">
          <label class="" style="">Local Location:</label>
          <input type="text" style="width:50%; border: 1px solid black;" />
          <br />
          <label class="" style="margin-left:33px;">File Name:</label>
          <input type="text" style="width:50%; margin-top:7px; border: 1px solid black;" />
          <br />
          <label class="" style="margin-left:18px;">Live System:</label>
          <input type="checkbox" style="margin-left:7px; margin-top:7px;" />

          <input type="checkbox" style="margin-left:20px; margin-top:7px;" />
          <label class="" style="">Transfer log</label>
          
      </div>

      <div class="col-md-6">
          <div class="row"  style="justify-content:right; margin-top:10px;">
              <div class="col-md-4">
                  <div class="row" style="border:1px solid grey;">
                  <div class="col-md-12">
                  <p class="red" style=" margin-bottom: 0px;background:rgb(184, 185, 190); text-align:center; padding:5px; font-weight:bold;">Generate Data</p>
                  <i  class="fa fa-book fa-3x" style="display: table-caption;background: rgb(244, 245, 247);padding: 10px; margin: 10px 10px 10px 40px; border: 1px solid black;"></i>
                  <p class="red" style=" margin-bottom: 0px;background:rgb(184, 185, 190); text-align:center; padding:5px; font-weight:bold;">Generating Data</p>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>


  <div class="row" style="margin:20px;">
    <div class="col-md-2" style="text-align:center;">
        <i  class="fa fa-search fa-2x" style="background: rgb(244, 245, 247);padding: 10px;  border-right: 1px solid black;  border-bottom: 1px solid black;"></i>
        <p class="icon">View Report File</p>
    </div>

    <div class="col-md-2" style="text-align:center;">
        <i  class="fa fa-plane fa-2x" style="background: rgb(244, 245, 247);padding: 10px;  border-right: 1px solid black;  border-bottom: 1px solid black;"></i>
        <p class="icon">MSA Transfer</p>
    </div>

    <div class="col-md-2" style="text-align:center;">
        <i  class="fa fa-book fa-2x" style="background: rgb(244, 245, 247);padding: 10px;  border-right: 1px solid black;  border-bottom: 1px solid black;"></i>
        <p class="icon">Negative Inventory</p>
    </div>

    <div class="col-md-2" style="text-align:center;">
        <i  class="fa fa-book fa-2x" style="background: rgb(244, 245, 247);padding: 10px;  border-right: 1px solid black;  border-bottom: 1px solid black;"></i>
        <p class="icon">Reported Inventory</p>
    </div>

    <div class="col-md-2" style="text-align:center;">
        <i  class="fa fa-user fa-2x" style="background: rgb(244, 245, 247);padding: 10px;  border-right: 1px solid black;  border-bottom: 1px solid black;"></i>
        <p class="icon">Reported Customers</p>
    </div>

    <div class="col-md-2" style="text-align:center;">
        <i  class="fa fa-file fa-2x" style="background: rgb(244, 245, 247);padding: 10px;  border-right: 1px solid black;  border-bottom: 1px solid black;"></i>
        <p class="icon">Missing Information</p>
    </div>
  </div>




<div id="state" class="w3-container report" style="display:none">
  <h2>State Reporting</h2>
  <p>Thsi is State Reporting Section.</p> 
</div>


<script>
    $(document).ready(function(){
    $("#dates").datepicker();
});
function openreport(reportName) {
  var i;
  var x = document.getElementsByClassName("report");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(reportName).style.display = "block";  
}

$("#aa").click(function() {
  var date2 = $('#dates').datepicker('getDate', '+1d'); 
  date2.setDate(date2.getDate()+2); 
  $('#dates').datepicker('setDate',date2);
});

</script>