@*@model ABC.EFCore.Repository.Edmx.EmpAllowanceType*@
@model ABC.HR.Domain.Entities.ValidateAllowanceType


@{
    ViewData["Title"] = "AddAllowanceType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .error {
        color: red;
        font-weight: 600;
    }
</style>

<div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link " href="~/TaxType/AddTaxType" aria-controls="overview" aria-selected="true">Add Tax Type</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link " href="~/EmployeeTaxConfiguration/AddTaxConfiguration" aria-controls="overview" aria-selected="true">Add Tax Configuration</a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link active" href="~/AllowanceType/AddAllowanceType" role="tab" aria-selected="false">Add Allowance Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/DeductionType/AddDeductionType" role="tab" aria-selected="false">Add Deduction Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/LeaveType/AddLeaveType" role="tab" aria-selected="false">Add Leave Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="~/LoanType/AddLoanType" role="tab" aria-selected="false">Add Loan Type</a>
        </li>


    </ul>
</div>


<div class="card">
    <div class="card-body">
        <h1 class="card-title">Add AllowanceType</h1>

        @*<h4>EmpAllowanceType</h4>*@
        <hr />
        <div class="row container">
            <div class="col-md-12 ">
                <form asp-action="AddAllowanceType" id="allowncetype">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="AllowanceTypeName" class="control-label"></label>
                            <input asp-for="AllowanceTypeName" class="form-control" />
                            <span asp-validation-for="AllowanceTypeName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="AmountLimit" class="control-label"></label>
                            <input asp-for="AmountLimit" class="form-control alloence_class" type="number"/>
                            <span asp-validation-for="AmountLimit" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">


                        <div class="form-group col-md-8">

                            <label asp-for="Description" class="control-label"></label>
                            @*<textarea asp-for="Description" class="form-control"></textarea>*@
                            @*<textarea asp-for="Description" rows="4" cols="70" style="border: 1px solid #dee2e6; border-radius: 4px;"></textarea>*@
                            <textarea asp-for="Description" class="form-control" style="min-height: 5rem;"></textarea>

                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="IsActive" class="control-label"></label>
                            @*<input asp-for="IsActive.Value" type="checkbox" checked />*@
                            @Html.CheckBox("IsActive", true)
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="submit" value="Create" class="btn btn-lg btn-dark me-3 wd-40" style="color:whitesmoke" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="ManageAllowanceType">Back to List</a>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}



@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script>
    $("#allowncetype").validate();
</script>*@

<script>
    //document.querySelector(".alloence_class").addEventListener("keypress", function (evt) {
    //    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
    //        evt.preventDefault();
    //    }
    //});

// 0 for null values
// c8 for backspace 
// 48-57 for 0-9 numbers


    var inputBox = document.querySelector(".alloence_class");

    var invalidChars = [
        "-",
        "+",
        "e",
    ];

    inputBox.addEventListener("keydown", function (e) {
        if (invalidChars.includes(e.key)) {
            e.preventDefault();
        }
    });
</script>